<html>
    <head>
        <title> Cortex Users </title>
    </head>
    <body style="background-color:powderblue;text-align:center;">
        <h1 style="color:indigo;"> Users: </h1>
        <ul>
            <table style="width:100%">
                <tr>
                    <th>User id</th>
                    <th>Username</th>
                    <th>Snapshots</th>
                </tr>
                {% for user in users %}
                <tr>
                    <th><a href="/users/{{user.user_id}}">{{ user.user_id }}</a></th>
                    <th>{{ user.username }}</th>
                    <th><a href="/users/{{user.user_id}}/snapshots">Click here</a></th>
                </tr>
		
                {% endfor %}  
            </table>
        </ul>
    </body>
</html>


  
  
